{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Cash</th>
                <th>Assets</th>
            </tr>
        </thead>
        <tbody>
                {% for user in users %}
                <tr>
                    <td> {{ loop.index }}</td>
                    <td> {{ user.username }}</td>
                    <td> {{ user.cash }}</td>
                    <td>{{ user.assets }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>


{% endblock %}